@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 72px;
  --mobile-header-height: 72px;

  /**COLORS**/
  --mm-black: #091111;
  --mm-blue: #2657d4;
}
body {
  font-size: 1.25rem;
}
.mm-button {
  background-color: var(--mm-black);
  border-radius: 30px;
  padding: 8px 20px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 15px;
  transition: all 0.1s linear;
  border: 2px solid transparent;
  cursor: pointer;
}
button,
input[type="submit"] {
  cursor: pointer;
}

.mm-button:hover {
  background-color: #2657d4 !important;
  color: #ffffff !important;
}

.mm-button.white {
  background-color: white;
  color: var(--mm-black);
}
/* 
.mm-button.white:hover{
    border-color:white;
    background-color: var(--mm-black);
    color: white;
} */

.mm-button.default {
  border-color: white;
  background-color: transparent;
  color: white;
}

.mm-button.blue {
  background-color: var(--mm-blue);
}

.mm-button.blue:hover {
  background-color: var(--mm-black) !important;
}

/* .mm-button.blue:hover{
    background-color: #2657D4;
    border-color: #2657D4;
    color:white
} */

.mm-button .custom-object-position {
  object-position: 65% 25vh;
}

button,
a,
input[type="submit"],
header li {
  cursor: pointer;
}

.relativee * {
  position: relative;
}
.country_flag {
  line-height: 0;
}
.dropdown {
  -ms-overflow-style: none;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgb(243 244 246);
  /* display: none; */
  left: 0;
  max-height: 185px;
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: none;
  top: calc(100% + 5px);
  width: 100%;
  z-index: 1;
}

.calling_code .select {
  cursor: pointer;
  height: 100%;
  line-height: normal;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.dropdown .search-wrapper {
  z-index: 2;
}

body.dark > header nav > ul > li > span {
  color: white;
}

body.dark header .logo svg path {
  fill: #ffffff;
}
body.dark header .mm-button {
  background-color: #ffffff;
  color: var(--mm-black);
}
body.dark header .mm-button:hover {
  background-color: #2657d4;
}

body.dark > header nav > ul > li:hover > span {
  background-color: white !important;
  color: black !important;
}
body.dark .mobile-burger > div > div {
  background-color: white;
}

body.dark header.scrolling {
  background-color: rgba(0, 0, 0, 0.8);
}

body.white-header > header nav > ul > li > span {
  color: white;
}

body.white-header > header.menu-open nav > ul > li > span,
body.white-header > header.scrolling nav > ul > li > span {
  color: black;
}

body.white-header header .logo svg path {
  fill: #ffffff;
}

body.white-header header .dropdown-logo path {
  stroke: #ffffff;
}

body.white-header header.scrolling .logo svg path,
body.white-header header.menu-open .logo svg path {
  fill: #000000;
}

body.white-header header.scrolling .dropdown-logo path,
body.white-header header.menu-open .dropdown-logo path {
  stroke: #000000;
}

body.white-header header .mm-button {
  background-color: white;
  color: black;
}

body.white-header header.scrolling .mm-button {
  background-color: black;
  color: white;
}

body.white-header .mobile-burger div div {
  background-color: white;
}

body.white-header header.menu-open .mobile-burger div div {
  background-color: black;
}

.scrolling {
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.8);
  height: var(--mobile-header-height) !important;
}

.menuOpen {
  background-color: #f7f7f7;
}

.menu-open {
  background-color: #f7f7f7;
}

.dark .menu-open,
.dark .submenu {
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  opacity: 1;
}

body.dark header.scrolling.menu-open {
  background-color: rgba(0, 0, 0, 1);
}

swiper-slide {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
}

swiper-slide img {
  width: 100%;
}

.terms ul {
  list-style-type: disc;
  margin-left: 30px;
}
.table-wrapper h2 {
  font-weight: bold;
  font-size: 28px;
}
.mm-table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.mm-table,
.mm-table th,
.mm-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.mm-table td {
  padding: 15px;
}

.table-heading {
  background-color: rgb(243 244 246);
  font-weight: bold;
}

.download-pdf {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 5px 15px;
  margin-top: 25px;
  font-size: 16px;
}
.download-pdf:hover {
  background-color: #2657d4;
}

@media screen and (max-width: 576px) {
  swiper-slide {
    width: 70%;
  }
}

.html-content ul {
  list-style-type: disc;
  margin-left: 30px;
}

.html-content ol {
  list-style-type: decimal;
  margin-left: 30px;
}

.html-content a {
  color: #2657d4;
}

.html-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.container {
  max-width: 1200px;
}

/* For screens larger than or equal to '4xl' breakpoint */
@media (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 992px) {
  body {
    /* padding-top:100px; */
  }
}

.smaller-title {
  @apply text-3xl font-bold mb-3;
}

.hole {
  clip-path: circle(13.6% at 100% 50%);
}

.sticky-filters {
  @apply bg-white z-10 sticky top-[calc(var(--header-height)+30px)] w-full md:w-[15%] rounded-xl p-5 self-start flex-none flex  md:flex-col gap-7 max-md:mb-10 max-md:justify-between max-md:p-2 transition-all max-md:top-[calc(var(--header-height)+15px)] max-md:shadow-md max-md:w-[90%] max-md:mx-auto;
}

body.menu-hidden .sticky-filters {
  @apply top-[15px];
}
